<?xml version='1.0' encoding='utf-8'?>
<widget id="ie.ucd.cobweb.cordova.losplugin" version="0.0.1"
	xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>COBWEB line of sight plug-in</name>
	<description>
		COBWEB plug-in for line-of-sight in Android
	</description>

	<access origin="*" />
</widget>
