<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="ie.ucd.cobweb.cordova.losplugin"
    version="0.0.1">
    <name>COBWEB Sensor Plugin</name>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="COBWEBSensorPlugin" >
                <param name="android-package" value="ie.ucd.cobweb.cordova.COBWEBSensorPlugin"/>
				<param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/COBWEBSensorPlugin.java" target-dir="src/ie/ucd/cobweb/cordova" />
    </platform>
</plugin>
